<!DOCTYPE html>
<html lang="en">

<head>{{>headlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header mt-3">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <img src="images/error_page.jpg" alt="">
                <h1>{{content}}</h1>

            </div>
            <div class="col-md-10 col-12 mx-auto">
                <a href="/"><button class="btn btn-secondary mt-5">Roll Back</button></a>

            </div>

        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
    {{>footerlinks}}
</body>

</html>