@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

footer{
    width: 100%;
    background-color: #373534;
}

footer p{
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 11rem;
    font-size: 1.4rem;
}